body {
  background-color: #f8f9fa;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: #091538 ;
}

.hero-section {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  
  
}

.hero-section .container {
  max-width: 1100px;
}

.img-wrapper img {
  max-width: 100%;
  transition: transform 0.4s ease;
}

.img-wrapper img:hover {
  transform: scale(1.05);
}

.btn-light {
  transition: all 0.3s ease;
}

.btn-light:hover {
  background-color: #e9ecef;
  transform: translateY(-2px);
}
